@charset "utf-8";

@import "./constants";

$body-background-color: hsl($primary-hue, 10%, 90%);
$footer-background-color: hsl($primary-hue, 70%, 80%);
$footer-padding: 2rem 1.5rem 1.5rem;
$section-padding: 1rem 0.5em;
$table-cell-padding: 0.25em 0.3em;
$card-header-background-color: hsl($primary-hue, 10%, 90%);
$primary: hsl($primary-hue, 90%, 51%);
$primary-invert: hsl($primary-hue, 50%, 10%);

@import "~bulma/bulma";

main {
	padding: 20px;
	background-color: $main-background-color;
}

.level-item.is-vertical {
	flex-direction: column;

	.title {
		margin-bottom: 15px;
	}
}
