@charset "utf-8";

.event-breakdown {
	.tables {
		display: flex;

		& > :first-child {
			flex: 0 0 auto;
		}

		& > :last-child {
			flex: 1;
			overflow-x: auto;
		}
	}

	th, td {
		&:not(.header) {
			text-align: right;
		}
	}

	th, td.header {
		background-color: hsl(71, 64%, 90%);
		font-weight: bold;
	}

	td.header-light {
		background-color: hsl(71, 64%, 95%);
	}
}
