@charset "utf-8";

@import "./constants";

.event-breakdown {
	.tables {
		display: flex;

		& > :first-child {
			flex: 0 0 auto;
		}

		& > :last-child {
			flex: 1;
			overflow-x: auto;
		}
	}

	.table {
		th, td {
			border-color: $main-background-color;

			&:not(.header) {
				text-align: right;
			}
		}

		th, td.header {
			background-color: hsl($primary-hue, 64%, 90%);
			font-weight: bold;
		}

		td.header-light {
			background-color: hsl($primary-hue, 64%, 95%);
		}

		td.selected {
			background-color: hsl($primary-hue, 90%, 60%);
		}
	}
}
