@charset "utf-8";

@import "../common/constants";

// Override Bulma variables
$body-background-color: hsl($primary-hue, 10%, 90%);
$footer-background-color: hsl($primary-hue, 70%, 80%);
$footer-padding: 2rem 1.5rem 1.5rem;
$section-padding: 1rem 0.5em;
$table-cell-padding: 0.25em 0.3em;
$card-header-background-color: hsl($primary-hue, 10%, 90%);
$primary: hsl($primary-hue, 90%, 51%);
$primary-invert: hsl($primary-hue, 50%, 10%);

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/table.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/level.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";

main {
	padding: 20px;
	background-color: $main-background-color;
}
